<img src="{{ section.settings.image | img_url: "master" }}" alt="{{ section.settings.name }}"width="" height="">
<h1> {{ section.settings.header }}</h1>
<div> {{ section.settings.content }}</div>
<a  href="{{ section.settings.button }}" > {{ section.settings.button_text }}</a>
{% schema %}
  {
      "name": "Text With Image",
    "settings": [
      {
      "type" : "text",
      "id" : "header",
      "label" : "Header"
      },
      {
        "type" : "image_picker",
        "id": "image",
        "label" : "Image"
      },
      {
        "type" : "richtext",
        "id" : "content",
        "label" : "Content"
      },
      {
        "type" : "text",
        "id" : "button_text",
        "label" : "Button"
      },
      {
        "type" : "url",
        "id" : "button",
        "label" : "Button Link"
      }
    ],
    "presets": [
      {
        "name" : "Text With Image"
      }
    ]  
  }
{% endschema %}